<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExDietLive", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link "ExDiet", to: Routes.page_path(@conn, :index), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <%= if assigns[:current_user] do  %>
            <div class="navbar-nav">
              <%= for {title, path} <- navbar_pages() do %>
                <%= navbar_link(@conn, title, path) %>
              <% end %>
            </div>

            <div class="navbar-nav ml-auto">
              <%= navbar_link(@conn, "Logout", Routes.account_session_path(@conn, :delete), method: :delete) %>
            </div>
          <% else %>
            <div class="navbar-nav ml-auto">
              <%= navbar_link(@conn, "Login", Routes.account_session_path(@conn, :new)) %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <%= @inner_content %>
  </body>
</html>
